* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

img {
    height: 200px;
    width: 200px;
}

body {
    display: flex;
    flex-direction: column;
}

.cabecera {
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: white 0 0 7px;
}

.cabecera header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navegacion1 nav ul {
    display: flex;
    gap: 16px;
}

.navegacion1 nav ul li a {
    color: white;  
}

.navegacion1 nav ul li a:hover {
    text-shadow: white 0 0 5px;
}


.seccion1 {
    padding: 60px 0 80px 0;
    background-color: #1f2937;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.seccion1 section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 25px;
    min-height: 300px;
}

.izq1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.izq1 h2 {
    font-size: 30px;
    margin-top: 30px;
    text-shadow: white 0 0 2px;
}

.izq1 .text1,
.izq1 .text2 {
    font-size: 18px;
}

.izq1 .text1 {
    padding: 35px 20px 20px 20px;
}

.izq1 .text2 {
    padding: 0 20px;
}

.login {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text3 {
    padding: 35px 0 20px 50px;
    font-style: italic;
}

.login button {
    background-color: rgb(44, 88, 182);
    color: white;
    border-radius: 10%;
    height: 35px;
    width: 80px;
    border: 1px solid white; 
    font-size: 15px;
}

.login button:hover {
    box-shadow: white 0 0 5px;
    text-shadow: white 0 0 5px;
}

.der1 img {
    width: auto;
    height: 100%;
    border-radius: 10%;
    box-shadow: white 0 0 30px;
    display: flex;
    flex-wrap: wrap;
}

.der1 {
    width: 50%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto ;
    gap: 15px;
    flex-wrap: wrap;
}

.seccion2 section {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.articulos {
    display: flex;
    gap:10px;
    text-align: center;
    justify-content: space-around;
}



.goles,
.dribles,
.individual,
.colectivo {
    width: 300px;
    justify-content: center;
    align-items: center;
   text-align: center;
   margin-top: 300px;
   margin-bottom: 300px;
   background-color: rgba(240, 248, 255, 0.747);
   border-radius: 8%;
   box-shadow: white 0 0 10px;
}

.goles:hover,
.dribles:hover,
.individual:hover,
.colectivo:hover {
    box-shadow: white 0 0 60px;
    transform: scale(1.02);
    transition: all ease;
}


.cabecera2 {
    font-size: 30px;
    padding: 15px;
    text-shadow: black 0 0 3px;
    background-color: rgba(240, 248, 255, 0.747);
}

h5 {
    text-shadow: black 0 0 3px ;
    font-size: 20px;
    padding: 10px 0 10px 0;
}

.goles img,
.dribles img,
.individual img,
.colectivo img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    box-shadow: black 0 0 5px;
}

.imagenes {
    height: 180px;
    width: auto;
    padding: 5px;
}

.seccion2 {
    background: url(./images/fondo.jpg);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}

.textinfo{
    padding: 10px 0 10px 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.seccion3 {
    padding: 50px;
    background-color: #1f2937;
}

.frase {
    display: flex;
    flex-direction: column;
    color: aliceblue;
}

.cita {
    font-size: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.autor {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-style: italic;
}

blockquote {
    display: flex;
    flex-direction: column; 
    gap: 40px;
}

.autor,
.cita {
    text-shadow: white 0 0 2px;
}

.seccion4 {
    display: flex;
    justify-content: center;
    padding: 300px 200px;
    background: url(./images/fondo2.jpg);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    
}

.seccion4 section {
    display: flex;
    flex-direction: column;
    width: 700px;
    border-radius: 4%;
    background-color: rgba(240, 248, 255, 0.747);
    box-shadow: white 0 0 10px;
}

.suscripcion {
    padding: 40PX 10px;
    font-size: 25px;
    text-align: center;
    color: black;
    text-shadow: black  0 0 2px;
}

.cajatexto {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    gap: 20px;
    align-items: center;
}

input {
    height: 20px;

}

.cajatexto button {
    background-color: rgb(44, 88, 182);
    color: white;
    border-radius: 10%;
    height: 35px;
    width: 80px;
    border: 1px solid black; 
    font-size: 15px;
}

.cajatexto button:hover {
    box-shadow: black 0 0 5px;
    text-shadow: white 0 0 5px;
}

.pie {
    background-color: #1f2937;
}

.pie footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-align: center;
}

.face {
    width: 50px;
    height: auto;
}

.tw {
    width: 48px;
    height: auto;
}

.tw:hover,
.face:hover {
    transform: scale(1.2);
    transition: all ease;
}







